.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px 10px 20px;
}

.description {
  max-width: 65%;
}

.about-image {
  display: none;
  padding-left: 30px;
}

.profile-picture {
  width: 220px;
  height: 264px;
}

.title {
  padding-bottom: 15px;
}

.other-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.education {
  width: 65%;
}

.contact {
  display: none;
}

.language {
  padding-left: 30px;
  width: 220px;
}

@media (min-width: 576px) {
  .about-image {
    display: block;
  }

  .other-content {
    flex-direction: row;
    align-items: normal;
  }
}
